.text {
    -webkit-text-fill-color: #3300cc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #40E7FF;
    font-weight: 900;
    line-height: 1.2;
    position: relative;
}

.absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.textarea::-webkit-scrollbar {
    display: none;
}

.inline * {
    display: inline;
}